body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-lgi-8: 19.8px;
  --font-size-5xl: 24px;
  --font-size-smi: 13px;
  --font-size-mid-6: 17.6px;
  --font-size-13xl: 32px;
  --font-size-mini: 15px;

  /* Colors */
  --color-gray: #171717;
  --white-100: #fff;
  --color-cornflowerblue: rgba(125, 171, 240, 0.3);
  --color-limegreen: rgba(88, 188, 24, 0.3);

  /* Gaps */
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-6xs: 7px;
  --gap-9xl: 28px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-42xl: 61px;
  --padding-49xl: 68px;
  --padding-41xl: 60px;
  --padding-50xl: 69px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-28xl: 47px;
  --padding-12xl: 31px;
  --padding-mini: 15px;
  --padding-3xl: 22px;
  --padding-sm: 14px;
  --padding-lg: 18px;
  --padding-16xl: 35px;
  --padding-15xl: 34px;
  --padding-7xs: 6px;
  --padding-lgi: 19px;
  --padding-18xl: 37px;
  --padding-11xl: 30px;
  --padding-30xl: 49px;
  --padding-mid: 17px;
  --padding-20xl: 39px;
  --padding-base-4: 15.4px;
  --padding-14xl: 33px;
  --padding-7xl: 26px;
  --padding-32xl: 51px;

  /* Border radiuses */
  --br-5xl-2: 24.2px;
  --br-5xl: 24px;
  --br-21xl: 40px;
}
