   /* Estilo existente */
   .frame-child,
   .welcome-to {
       position: absolute;
       top: -176.3px;
       left: 206.1px;
       filter: blur(377.95px);
       border-radius: 50%;
       background-color: var(--color-limegreen);
       width: 402.2px;
       height: 402.2px;
   }
   .welcome-to {
       top: 43px;
       left: -61px;
       background-color: var(--color-cornflowerblue);
       z-index: 1;
   }
   .ellipse-parent {
       width: 100%;
       height: 445.2px;
       position: absolute;
       margin: 0 !important;
       top: 0;
       right: 0;
       left: 0;
   }
   .dog-fedder {
       position: relative;
       line-height: 120%;
       font-weight: 800;
       z-index: 2;
   }
   .dog-fedder-wrapper {
       align-self: stretch;
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       justify-content: flex-end;
       padding: 0 var(--padding-49xl) 0 var(--padding-51xl);
   }
   .take-care-of {
       margin: 0;
       align-self: stretch;
       height: 52.9px;
       position: relative;
       font-size: var(--font-size-mid-6);
       line-height: 30.85px;
       display: inline-block;
       flex-shrink: 0;
       z-index: 2;
   }
   .frame-parent,
   .tela-menu-inner {
       display: flex;
       justify-content: flex-start;
       max-width: 100%;
   }
   .frame-parent {
       flex: 1;
       flex-direction: column;
       align-items: flex-end;
   }
   .tela-menu-inner {
       align-self: stretch;
       flex-direction: row;
       align-items: flex-start;
       padding: 0 46px;
       box-sizing: border-box;
       text-align: center;
       font-size: var(--font-size-13xl);
       color: var(--white-100);
       font-family: var(--font-manrope);
   }
   .time-setting-elements-child {
       width: 322.5px;
       height: 100%;
       position: absolute;
       margin: 0 !important;
       top: 0;
       right: 0;
       bottom: 0;
       border-radius: var(--br-21xl);
       background: linear-gradient(113.4deg, #000 11.5%, #313131 60%, #415040);
   }
   .register-schedules {
       flex: 1;
       position: relative;
       line-height: 30px;
       font-weight: 700;
       z-index: 1;
   }
   .schedule-description {
       align-self: stretch;
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       justify-content: flex-end;
       padding: 0 var(--padding-mid) 0 var(--padding-lgi);
   }
   .set-your-pets {
       align-self: stretch;
       height: 40px;
       position: relative;
       font-size: var(--font-size-mini);
       line-height: 150%;
       font-weight: 300;
       display: inline-block;
       flex-shrink: 0;
       z-index: 1;
   }
   .time-setting-elements {
       position: absolute;
       top: 0;
       left: 37px;
       width: 344.5px;
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       justify-content: flex-start;
       padding: var(--padding-14xl) 81px var(--padding-73xl) 0;
       box-sizing: border-box;
       gap: 6px;
   }
   .subtract-icon {
       position: absolute;
       top: 39px;
       left: 240.8px;
       width: 152.2px;
       height: 151px;
       object-fit: contain;
       z-index: 2;
   }
   .set-time {
       align-self: stretch;
       height: 201px;
       position: relative;
       cursor: pointer;
       z-index: 2;
   }
   .pricing {
       height: 100%;
       width: 323px;
       position: absolute;
       margin: 0 !important;
       top: 0;
       right: 0;
       bottom: 0;
       border-radius: var(--br-21xl);
       background: linear-gradient(113.4deg, #000 11.5%, #313131 60%, #415040);
       z-index: 2;
   }
   .feed-your-pet {
       height: 40px;
       flex: 1;
       position: relative;
       line-height: 150%;
       font-weight: 300;
       display: inline-block;
       z-index: 3;
   }
   .faq-icon {
       height: 151px;
       width: 159px;
       position: absolute;
       margin: 0 !important;
       right: -106px;
       bottom: -81px;
       object-fit: cover;
       z-index: 4;
   }
   .feed-anytime-option,
   .feed-now-description {
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
   }
   .feed-anytime-option {
       align-self: stretch;
       flex-direction: row;
       position: relative;
   }
   .feed-now-description {
       width: 275px;
       flex-direction: column;
       padding: 30px 0 0;
       box-sizing: border-box;
   }
   .feed-now {
       position: relative;
       font-size: var(--font-size-lgi-8);
       line-height: 30px;
       font-weight: 700;
       display: inline-block;
       min-width: 91px;
       z-index: 3;
       margin-left: -223px;
   }
   .feed-now-option {
       flex: 1;
       flex-direction: row;
       padding: var(--padding-20xl) 0 var(--padding-73xl);
       box-sizing: border-box;
       position: relative;
   }
   .feed-now-option,
   .feed-now-option-wrapper,.set-time-parent {
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       max-width: 100%;
   }
   .feed-now-option-wrapper {
       width: 406.5px;
       flex-direction: row;
       padding: 0 var(--padding-5xl);
       box-sizing: border-box;
       font-size: var(--font-size-mini);
   }
   .set-time-parent {
       align-self: stretch;
       height: 525px;
       flex-direction: column;
       gap: 19px;
       text-align: center;
       font-size: var(--font-size-lgi-8);
       color: var(--white-100);
       font-family: var(--font-manrope);
   }
   .back-to-home {
       position: relative;
       line-height: 30px;
       font-weight: 200;
       display: inline-block;
       min-width: 120px;
   }
   .casa-1-1 {
       height: 58px;
       width: 71px;
       position: relative;
       object-fit: cover;
   }
   .home-icon {
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       justify-content: flex-start;
       padding: 0 var(--padding-5xl);
   }
   .login {
       width: 122px;
       height: 110px;
       position: absolute;
       margin: 0 !important;
       right: -21px;
       bottom: -64px;
       filter: blur(300px);
       border-radius: 50%;
       background-color: #d9d9d9;
       z-index: 1;
   }
   .back-to-home-parent,
   .tela-menu {
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
   }
   .back-to-home-parent {
       align-self: stretch;
       align-items: center;
       padding: 0 var(--padding-xl);
       gap: var(--gap-4xs);
       cursor: pointer;
       text-align: center;
       font-size: var(--font-size-lgi-8);
       color: var(--white-100);
       font-family: var(--font-manrope);
   }
   .tela-menu {
       width: 100%;
       border-radius: var(--br-11xl);
       background-color: var(--color-gray);
       overflow: hidden;
       align-items: flex-start;
       padding: 62.1px 0 31px;
       box-sizing: border-box;
       gap: 62px;
       line-height: normal;
       letter-spacing: normal;
   }
   @media screen and (max-width: 337px) {
       .dog-fedder-wrapper {
           padding-left: var(--padding-xl);
           padding-right: var(--padding-xl);
           box-sizing: border-box;
       }
   }

   /* Estilo para links */
   a {
       color: white; /* Cor padrão do link */
       text-decoration: none; /* Remove o sublinhado padrão */
   }
   a:visited {
       color: white; /* Cor do link visitado */
   }
   a:hover {
       color: white; /* Cor do link quando o mouse está sobre ele */
   }
   a:active {
       color: white; /* Cor do link quando está sendo clicado */
   }